/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


.work-sans {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex{
    display: flex;
}

.btn-prime{
    border: none;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    /* width: 180px;
    height: 64px; */
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 600;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
   
}

.brand{
    font-size: 3rem;
    color: #131313;
    font-weight: bold;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    /* font-size: 18px; */
    color: #424242;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
}