*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.work-sans {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* shared styles */
.display-flex{
    display: flex;
}

.btn-prime{
    border: none;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    /* width: 180px;
    height: 64px; */
    font-size: 1.25rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
}


/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
   
}

.brand{
    font-size: 3rem;
    color: #131313;
    font-weight: bold;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* team and features related style */
main{
    max-width: 1440px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

.team{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

/* .team-img-container> img{
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
} */

.our-features{
    padding: 0 100px;
    /* max-width: 500px; */
    /* height: auto; */
}

.features-title{
    font-size: 2.813rem;

}

.features-title> #part1{
    color: #727272;
    font-weight: lighter;
}
.features-title> #part2{
    color: #131313;
}
.features-title> #part3{
    color: #FF900E;
}

.our-features> p{
    color: #727272;
    font-size: 1rem;
    padding-bottom: 30px;
}

/* facts related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 80px;
}
.facts-title{
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 50px;
}
.facts-description{
    font-size: 1rem;
    color: #727272;
    font-weight: 400;
    margin-bottom: 100px;
    max-width: 540px;
}
.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.fact-number{
    font-size: 2.8rem;
    color: #131313;
    font-weight: 600;
    margin: 10px 0 20px 0;
}

.fact-name{
    font-size: 1.2rem;
    color: #727272;
    font-weight: 400;
}



/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links, 
    .team{
        flex-direction: column;
    }


    /* teams responsive style */
    .team{
        gap: 60px;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .our-features{
        /* text-align: center; */
        /* padding-left: 20px; */
        padding: 20px;
        max-width: 100%;
        /* text-align: center; */
    }  

    /* facts */
    .facts-title, .facts-description{
        margin-left: 30px;
    }

    .facts-container{
        /* grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-left: 30px; */
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        
    }

    .fact-card{
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
    }

    /* facts */
    .facts-title{
        text-align: center;
    }
    .facts-description{
        margin: 0 auto;
        width: 500px;
        text-align: center;
        margin-bottom: 30px;
    }

    .facts-container{
        /* grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-left: 30px; */
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        
    }

    .fact-card{
        margin-bottom: 20px;
    }
}

